{
  "presets": [
    [
      "env", {
        "modules": false,
        "targets": {
          "browsers": [
            "firefox >= 32",
            "chrome >= 38",
            "safari >= 7",
            "ie >= 10"
          ]
        }
      }
    ]
  ],
  "plugins": [
    [
      "transform-react-jsx",
      {
        "pragma": "h"
      }
    ]
  ]
}